*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  color: #f04037;
}

body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 5px;
  background: rgba(141, 141, 141, 0.7);
}
body::-webkit-scrollbar-thumb {
  background: rgba(98, 98, 98, 0.7);
  border-radius: 5px;
}

header {
  background: #19191b;
  padding-bottom: 150px;
}

.header__content {
  display: flex;
  flex-direction: column;
}

.header__nav {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.750316px;
  color: white;
  padding: 23px 0;
}

.nav__list {
  display: flex;
  margin: auto;
}

.nav__link {
  margin: 0 15px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.500211px;
  color: white;
}

.active-link {
  color: #f04037;
}

.nav__button {
  border: none;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.500211px;
  color: white;
  background: #f04037;
  padding: 12px 10px 13px;
  border: 1px solid #c31a12;
  border-radius: 5px;
}

.hamburger__btn {
  display: none;
  font-size: 20px;
  color: white;
}

.header-section {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-gap: 10%;
  color: white;
  margin-top: 150px;
}

.header__title {
  font-size: 80px;
  line-height: 84px;
  letter-spacing: -2.50105px;
  color: white;
  margin-top: 50px;
  margin-bottom: 24px;
}

.header__subtitle {
  font-size: 21px;
  line-height: 39px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: -0.656526px;
}

.form-site {
  position: relative;
}

.form__balloon {
  position: absolute;
  left: -50px;
  top: 0;
  width: 488px;
  height: 488px;
  background: #5454d4;
  border-radius: 50%;
}

.form__ring {
  position: absolute;
  width: 488px;
  height: 488px;
  top: 50px;
  left: -50px;
  background: transparent;
  background: rgba(216, 216, 216, 0.0001);
  border-radius: 50%;
  border: 4px solid #743ad5;
}

.header__form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 380px;
  background: white;
  box-shadow: 0px 42px 54px rgba(0, 0, 0, 0.788926);
  border-radius: 10px;
  padding: 36px 30px;
  position: relative;
}
.header__form input,
.header__form select {
  background: white;
  height: 70px;
  border: 1px solid #eae9f2;
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
  color: #696871;
  margin-top: 20px;
  font-size: 18px;
}
.header__form button {
  margin-top: 20px;
  background: #f04037;
  color: white;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.656526px;
  border: none;
  background: #f04037;
  border: 1px solid #c31a12;
  border-radius: 10px;
  padding: 17px 59px 16px;
}

.mail__label,
.name__label {
  position: absolute;
  top: 80px;
  left: 13%;
  color: #696871;
  font-size: 18px;
  background: white;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.name__label {
  top: 33%;
}

.input__mail:focus ~ .mail__label,
.input__mail:valid ~ .mail__label {
  transform: translateY(-36px);
}

.input__name:focus ~ .name__label,
.input__name:valid ~ .name__label {
  transform: translateY(-36px);
}

.omega {
  background: #19191b;
}
.omega .container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.omega__title {
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: -1.87579px;
  color: white;
}

.omega__subtitle {
  font-size: 21px;
  line-height: 39px;
  margin: 19px 0 67px;
  text-align: center;
  letter-spacing: -0.656526px;
  color: rgba(255, 255, 255, 0.7);
}

video {
  max-width: 1110px;
  max-height: 680px;
}

.features {
  background: #19191b;
  padding-top: 105px;
  padding-bottom: 120px;
}
.features .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  text-align: justify;
  grid-gap: 94px 134px;
}

.features__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__box-title {
  margin: 20px auto 13px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.750316px;
}

.features__box-subtitle {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.500211px;
  color: rgba(255, 255, 255, 0.7);
}

.content {
  background: #19191b;
  padding-top: 175px;
  border-top: 1px solid #242427;
}
.content .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 80px;
  color: white;
}

.added {
  margin-top: 80px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.406421px;
  padding: 8px 12px;
  background: #5454d4;
  border: none;
  border-radius: 5px;
  color: white;
}

.content__title {
  margin-top: 27px;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.87579px;
}

.content__subtitle {
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.656526px;
  color: rgba(255, 255, 255, 0.7);
}

.easy {
  background: #1e1e20;
}
.easy .container {
  display: flex;
  justify-content: center;
  padding-bottom: 154px;
}
.easy .container .easy__img:nth-child(1) {
  width: 350px;
  height: 515px;
}
.easy .container .easy__img:nth-child(2) {
  width: 730px;
  height: 515px;
}

.easy__title {
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: -1.87579px;
  color: white;
  padding-top: 97px;
}

.easy__subtitle {
  font-size: 21px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.656526px;
  margin: 30px auto 81px;
  color: rgba(255, 255, 255, 0.7);
  width: 627px;
}

.easy__img {
  margin: 15px;
}

.content-second {
  background: #19191b;
  padding-top: 175px;
  border-top: 1px solid #242427;
}
.content-second .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 80px;
  color: white;
}

.content-second__title {
  margin-top: 27px;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.87579px;
}

.content-second__subtitle {
  font-size: 21px;
  line-height: 39px;
  letter-spacing: -0.656526px;
  color: rgba(255, 255, 255, 0.7);
}

.added-second {
  margin-top: 20px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.406421px;
  padding: 8px 12px;
  background: #5454d4;
  border: none;
  border-radius: 5px;
  color: white;
}

.question {
  padding-top: 102px;
  background: #19191b;
}

.question__title {
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: -1.87579px;
  color: white;
}

.question__subtitle {
  font-size: 21px;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.656526px;
  color: rgba(255, 255, 255, 0.7);
  margin: 20px auto 76px;
}

.question .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 60px 50px;
}

.question__box-title {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.750316px;
  color: white;
  margin-bottom: 30px;
}

.question__box-subtitle {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.500211px;
  color: rgba(255, 255, 255, 0.7);
}

.question__foot {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 80px;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
}
.question__foot span {
  color: red;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.500211px;
}

.time {
  background: #1e1e20;
}
.time .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time__title {
  padding: 183px 0 183px;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.87579px;
  color: white;
}

.time__button {
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.656526px;
  font-size: 21px;
  color: white;
  background: #F04037;
  border: 1px solid #C31A12;
  border-radius: 5px;
  padding: 17px 21px 16px;
}

.footer {
  background: #19191b;
}
.footer .container {
  display: flex;
  align-items: center;
}

.footer__logo {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.750316px;
  color: white;
  padding: 39px 0;
}

.footer__list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: 26px;
}

.footer__item {
  margin-right: 46px;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.500211px;
  color: rgba(255, 255, 255, 0.7);
}

.footer__time {
  font-size: 16px;
  line-height: 38px;
  text-align: right;
  letter-spacing: -0.500211px;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1199px) {
  .content {
    padding-top: 80px;
  }
  .content .container {
    grid-gap: 0 10px;
  }

  .content__title {
    font-size: 44px;
    line-height: 45px;
  }

  .content__subtitle {
    font-size: 20px;
  }

  .easy__img:nth-child(1) {
    width: 250px !important;
    height: 450px !important;
  }

  .easy__img:nth-child(2) {
    width: 550px !important;
    height: 450px !important;
  }

  .content-second {
    padding-top: 80px;
  }
  .content-second .container {
    grid-gap: 0 10px;
  }

  .content-second__title {
    font-size: 44px;
    line-height: 45px;
  }

  .content-second__subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 1100px) {
  .header-section {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .about-site {
    margin: auto;
    text-align: center;
  }

  .form-site {
    margin: auto;
    margin-top: 50px;
    text-align: center;
  }

  video {
    width: 800px;
    max-height: 500px;
  }

  .features .container {
    grid-gap: 80px 120px;
  }
}
@media screen and (max-width: 991px) {
  .about-site {
    margin: auto;
    text-align: center;
  }

  .form-site {
    margin: auto;
    margin-top: 50px;
    text-align: center;
  }

  .header__title {
    font-size: 50px;
    line-height: 55px;
  }

  .header__subtitle {
    font-size: 18px;
    line-height: 25px;
  }

  .header__title {
    margin-top: 15px;
  }

  .header__subtitle {
    font-size: 18px;
  }

  .header__form {
    padding: 25px 2px;
  }
  .header__form input,
.header__form select {
    margin: auto;
    width: 80%;
    margin-top: 15px;
    height: 50px;
  }
  .header__form button {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    padding: 11px 50px;
  }

  .mail__label {
    top: 50px;
  }

  .name__label {
    top: 115px;
  }

  .input__mail:focus ~ .mail__label,
.input__mail:valid ~ .mail__label {
    transform: translateY(-24px);
  }

  .input__name:focus ~ .name__label,
.input__name:valid ~ .name__label {
    transform: translateY(-24px);
  }

  .omega__title {
    margin-top: 120px;
  }
  .omega__title br {
    display: none;
  }

  video {
    width: 600px;
    max-height: 400px;
  }

  .features .container {
    grid-gap: 40px 80px;
  }

  .content {
    padding-top: 80px;
  }
  .content .container {
    grid-gap: 0 10px;
  }
  .content .container img {
    width: 400px;
    height: 400px;
  }

  .added {
    margin-top: 25px;
  }

  .content__subtitle {
    line-height: 30px;
  }

  .easy__img:nth-child(1) {
    width: 250px;
    height: 400px;
  }

  .easy__img:nth-child(2) {
    width: 450px;
    height: 400px;
  }

  .content-second {
    padding-top: 80px;
  }
  .content-second .container {
    grid-gap: 0 10px;
  }
  .content-second .container img {
    width: 400px;
    height: 400px;
  }

  .added-second {
    margin-top: 25px;
  }

  .content-second__subtitle {
    line-height: 30px;
  }

  .question .container {
    grid-gap: 30px 30px;
  }

  .question__box-title {
    text-align: center;
  }

  .question__box-subtitle {
    text-align: center;
  }

  .time .container {
    flex-direction: column;
    justify-content: center;
  }
  .time .container .time__title {
    padding: 50px;
    text-align: center;
  }
  .time .container .time__title br {
    display: none;
  }
  .time .container .time__button {
    margin-bottom: 50px;
  }

  .footer__item {
    margin-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  .hamburger__btn {
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 2px solid white;
    */
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    width: 80px;
    height: 80px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .hamburger__btn-burger {
    width: 25px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .hamburger__btn-burger::after,
.hamburger__btn-burger::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }

  .hamburger__btn-burger::before {
    transform: translateY(-8px);
  }

  .hamburger__btn-burger::after {
    transform: translateY(8px);
  }

  /* animation */
  .hamburger__btn.open .hamburger__btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
  }

  .hamburger__btn.open .hamburger__btn-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .hamburger__btn.open .hamburger__btn-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .nav__list {
    position: fixed;
    left: -100%;
    transition: all ease-in-out 0.3s;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 10;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    flex-direction: column;
  }

  .nav__list.show {
    left: 0;
    top: 0;
  }
  .nav__list .nav__item {
    display: block;
    margin-top: 15px;
  }
  .nav__list .nav__item .nav__item {
    display: block;
  }

  .header-section {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .about-site {
    margin: auto;
    text-align: center;
  }

  .form-site {
    margin: auto;
    margin-top: 50px;
    text-align: center;
  }

  .header__title {
    font-size: 50px;
    line-height: 55px;
  }

  .header__subtitle {
    font-size: 18px;
    line-height: 25px;
  }

  .nav__button {
    display: none;
  }

  .omega__title {
    font-size: 45px;
    line-height: 45px;
  }

  .omega__subtitle {
    margin: 14px auto 40px;
    font-size: 18px;
  }

  .features .container {
    grid-gap: 30px 60px;
  }

  .content {
    padding-top: 80px;
  }
  .content .container {
    grid-template-columns: 1fr;
  }
  .content .container img {
    width: auto;
    height: auto;
  }

  .content__text {
    display: flex;
    flex-direction: column-reverse;
  }

  .added {
    margin-top: 0;
    font-size: 20px;
    width: 50%;
    margin: auto;
  }

  .content__title {
    text-align: center;
    order: 1;
    font-size: 50px;
    margin: 0 0 25px;
  }
  .content__title br {
    display: none;
  }

  .content__subtitle {
    text-align: center;
    line-height: 30px;
  }

  .easy__img:nth-child(1) {
    display: none;
  }

  .easy__subtitle {
    width: auto;
  }

  .content-second {
    padding-top: 80px;
  }
  .content-second .container {
    grid-template-columns: 1fr;
  }
  .content-second .container img {
    width: auto;
    height: auto;
    margin: auto;
  }

  .content-second__text {
    display: flex;
    flex-direction: column-reverse;
  }

  .added-second {
    margin-top: 0;
    font-size: 20px;
    width: 50%;
    display: inline-block;
    margin: 50px auto;
    order: -1;
  }

  .content-second__title {
    text-align: center;
    order: 1;
    font-size: 50px;
    margin: 0 0 25px;
  }
  .content-second__title br {
    display: none;
  }

  .content-second__subtitle {
    text-align: center;
    line-height: 30px;
  }

  .question {
    padding-top: 50px;
  }
  .question .container {
    grid-template-columns: 1fr;
    grid-gap: 30px 30px;
  }

  .question__subtitle {
    width: 80%;
  }

  .time__title {
    font-size: 35px;
    line-height: 40px;
  }

  .time__button {
    padding: 12px 15px;
    font-size: 15px;
  }
}
@media screen and (max-width: 610px) {
  video {
    max-width: 450px;
    max-height: 300px;
  }

  .features .container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 60px;
  }

  .added {
    margin: 25px auto 70px;
  }

  .content .container img {
    width: 400px;
    height: 400px;
    margin: auto;
  }

  .easy__img:nth-child(1) {
    display: none;
  }

  .easy__title {
    padding-top: 50px;
  }

  .easy__img:nth-child(2) {
    width: 500px !important;
    height: 400px !important;
    margin: 0;
  }

  .content-second .container img {
    width: 400px;
    height: 400px;
    margin: auto;
  }

  .question__title {
    font-size: 50px;
  }

  .footer .container {
    flex-direction: column;
  }

  .footer__list {
    margin: auto;
  }

  .footer__logo {
    padding: 25px auto 15px !important;
  }
}
@media screen and (max-width: 510px) {
  .logo {
    margin-left: 15px;
  }

  .hamburger-icon {
    margin-right: 15px;
  }

  .header__title {
    margin-top: 15px;
  }

  .form__balloon {
    width: 300px;
    height: 300px;
    top: 65px;
    left: 45px;
  }

  .form__ring {
    width: 300px;
    height: 300px;
    top: 90px;
    left: 60px;
  }

  .header__form {
    padding: 15px 0;
    width: 320px;
  }

  .mail__label {
    top: 40px;
  }

  .name__label {
    top: 105px;
  }

  .input__mail:focus ~ .mail__label,
.input__mail:valid ~ .mail__label {
    transform: translateY(-24px);
  }

  .input__name:focus ~ .name__label,
.input__name:valid ~ .name__label {
    transform: translateY(-24px);
  }

  .omega__title {
    margin-top: 50px;
    font-size: 40px;
  }

  .omega__subtitle {
    font-size: 18px;
    margin: 2px auto 20px;
  }

  video {
    max-width: 380px;
    max-height: 220px;
  }

  .features .container {
    grid-template-columns: 1fr;
  }

  .features__box {
    max-width: 60%;
    margin: auto;
  }

  .content .container img {
    width: 380px;
    height: 380px;
    margin: auto;
  }

  .content__title {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .content__subtitle {
    font-size: 18px;
    line-height: 25px;
  }

  .easy__title {
    font-size: 50px;
  }

  .easy__subtitle {
    font-size: 20px;
    margin: 25px auto 40px;
    line-height: 35px;
  }

  .easy__img:nth-child(2) {
    width: 380px !important;
    height: 200px !important;
  }

  .content-second .container img {
    width: 380px;
    height: 380px;
    margin: auto;
  }

  .content-second__title {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .content-second__subtitle {
    font-size: 18px;
    line-height: 25px;
  }

  .added-second {
    font-size: 18px;
  }

  .question__title {
    font-size: 35px;
  }

  .question__subtitle {
    font-size: 18px;
    line-height: 25px;
    margin: 10px auto 50px;
  }

  .question__box-title {
    font-size: 21px;
    margin-bottom: 10px;
  }

  .question__box-subtitle {
    font-size: 17px;
  }
}
@media screen and (max-width: 400px) {
  .header__form {
    padding: 15px 0;
    width: 300px;
  }

  .form__balloon {
    width: 200px;
    height: 200px;
    top: 180px;
    left: 45px;
  }

  .form__ring {
    width: 200px;
    height: 200px;
    top: 220px;
    left: 30px;
  }

  .omega__title {
    font-size: 35px;
  }

  .omega__subtitle {
    line-height: 18px;
  }

  video {
    max-width: 280px;
    max-height: 150px;
  }

  .features__box {
    max-width: 80%;
  }

  .content {
    padding-top: 50px;
  }
  .content .container img {
    width: 310px;
    height: 310px;
    margin: auto;
  }

  .content__title {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .content__subtitle {
    font-size: 18px;
    line-height: 25px;
  }

  .added {
    font-size: 15px;
  }

  .easy__title {
    font-size: 40px;
  }

  .easy__subtitle {
    font-size: 20px;
  }

  .easy__img:nth-child(2) {
    width: 280px !important;
    height: 150px !important;
  }

  .content-second {
    padding-top: 50px;
  }
  .content-second .container img {
    width: 310px;
    height: 310px;
    margin: auto;
  }

  .content-second__title {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .content-second__subtitle {
    font-size: 18px;
    line-height: 25px;
  }

  .added-second {
    font-size: 15px;
  }

  .time__title {
    font-size: 30px;
    line-height: 30px;
  }

  .footer__list {
    display: flex;
    padding-left: 0;
    flex-direction: column;
  }

  .footer__logo {
    padding: 15px;
  }
}/*# sourceMappingURL=style.css.map */